Data Type and Structures Questions

Q 1 .  What are data structures, and why are they important ?

Answer -

- Data structures are specialized formats for organizing, storing, and managing data so it can be used efficiently in a computer program.

 Whya are they important

-  they are important beacuse they give better efficiency , better searching , clean code and reusability .

Q2   Explain the difference between mutable and immutable data types with examples ?

Answer .

- Mutable  -

  Mutable means the object can be changed after it is created.

  You can modify, add, or remove elements without changing the object’s identity

  ex = list , data , set

- immutable -
  
  Immutable means the object cannot be changed after it is created.

  Any modification will create a new object in memory

  ex = tuple , str , int

In [ ]:
# mutable

my_list = [1, 2, 3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [ ]:
# immutable

my_str = "hello"
my_str.append("shivam")
print(my_str + "shivam")

AttributeError: 'str' object has no attribute 'append'

Q3 What are the main differences between lists and tuples in Python ?

Answer -

 Lists -

-  always use [  ]

- lists are used to define a set of string
- these are mutable (can be change )
- 	Has many (e.g., .append(), .remove())

Tuples -

-  always use ( )
-   Immutable (cannot be changed)
- Fewer methods (e.g., .count(), .index()

In [ ]:
# list

my_list = [" pw skills " , " shivam " , "rahul "]
len(my_list)

3

In [ ]:
my_list.append("sodhani")

In [ ]:
my_list

[' pw skills ', ' shivam ', 'rahul ', 'sodhani']

In [ ]:
# tuples

my_tuples = (" pw skills " , " shivam " , "rahul ")
len(my_tuples)

3

In [ ]:
type(my_tuples)

tuple

In [ ]:
my_tuples.append("sodhani")

AttributeError: 'tuple' object has no attribute 'append'

Q 4 Describe how dictionaries store data ?

Answer -

- In Python, a dictionary is an unordered, mutable collection of key-value pairs.

In [ ]:
my_dict = {"name": "Shivam","age": 21,"course": "Pharm.D"}

In [ ]:
print(my_dict)

{'name': 'Shivam', 'age': 21, 'course': 'Pharm.D'}

Q 5 . Why might you use a set instead of a list in Python ?

Answer -

- set - remove duplicate automatically
- list - allow duplicates

examples are given below

In [ ]:
set = {1,2,3,4,4 , 5 , 5,"pw skills" }

In [ ]:
print(set)

{1, 2, 3, 4, 5, 'pw skills'}

In [ ]:
list = [1,2,3,4,4,5,5,"pw skills" ]

In [ ]:
print(list)

[1, 2, 3, 4, 4, 5, 5, 'pw skills']

Q 6 .  What is a string in Python, and how is it different from a list ?

Answers -

String =  use of { } is take place for string

- A string in Python is a sequence of characters enclosed in single ('), double ("), or triple quotes (''' or """).

In [ ]:
# string

my_string = "shivam " , 21
print("my name is " , {name} , "my age is", {age})

my name is  {'shivam'} my age is {21}

list = use of [ ]

- A list is an ordered collection of elements, which can be of any data type — numbers, strings, even other lists. Lists are mutable, so they can be changed after creation.

- Any data type (int, str, float, etc.)

In [ ]:
my_list = "pw skills " , " shivam " , 1 , 2

In [ ]:
my_list

('pw skills ', ' shivam ', 1, 2)

Q 7 .  How do tuples ensure data integrity in Python

In Python , tuples help keep your data safe and consistent because they are **immutable**—once you create a tuple, you can’t change it. You can’t add, remove, or modify its elements. This makes tuples perfect for storing things that shouldn’t be changed by mistake, like settings, coordinates, or constant values that your program depends on.

Q 8 What is a hash table, and how does it relate to dictionaries in Python ?

Answer -

Q 9 - Can lists contain different data types in Python ?

Answer -

- yes list contain diff data types in python

In [ ]:
my_list = [10, "hello", 3.14, True, [1, 2], {"name": "Shivam"}, None]

In [ ]:
type(my_list)

list

In [ ]:
type(10)

int

In [ ]:
type("hello")

str

In [ ]:
type(3.14)

float

In [ ]:
type(True)

bool

In [ ]:
type([1 , 2])

list

In [ ]:
type({"name": "Shivam"})

dict

Q 10 Explain why strings are immutable in Python ?

Answer -

In [ ]:
my_string = { "pw skills " , " shivam " , " sodhani "}

In [ ]:
my_string.append("rahul ")

AttributeError: 'set' object has no attribute 'append'

In [ ]:
# example of list

my_list = [  "pw skills " , " shivam " , " sodhani"]
my_list.append("rahul")
print(my_list)

['pw skills ', ' shivam ', ' sodhani', 'rahul']

Q 11 .  What advantages do dictionaries offer over lists for certain tasks ?

Answer -

In [ ]:
student = {"name": "Shivam", "age": 21, "course": "Pharm.D"}
print(student["course"])  # Output: Pharm.D (Clear and readable)

Pharm.D

In [ ]:
# list

student = ["Shivam", 21, "Pharm.D"]
# What does student[2] mean? (Unclear)

Q 12 - Describe a scenario where using a tuple would be preferable over a list ?

Answer -

- A tuple is preferable over a list in a scenario where data should not be modified after creation — in other words, when immutability is desired .

In [ ]:
# if you want a accurate value of data without any change

my_list = (28.16 , 29.30)   # these are values which are cannot be changed

In [ ]:
type(my_list)

tuple

In [ ]:
my_list.append(29.56)

AttributeError: 'tuple' object has no attribute 'append'

Q13 How do sets handle duplicate values in Python ?

Answers -

- sets automatically remove duplicate values — they only store unique elements.

In [ ]:
my_set = { 1 , 2 , 3,3 , 4 , 4 ,5 , 6, 6 ,7 }

In [ ]:
my_set

{1, 2, 3, 4, 5, 6, 7}

Q14 How does the “in” keyword work differently for lists and dictionaries ?

Answer -

In [ ]:
# in keyword for list
my_list = [10 , 20 , 30]
print(20 in my_list)

True

In [ ]:
print(50 in my_list)

False

In [ ]:
# in keyword for dictionaries
my_dict = {"name": "Shivam", "age": 21, "course": "Pharm.D"}
print("name" in my_dict)

True

In [ ]:
print("shivam " in my_dict)

False

Q 15 Can you modify the elements of a tuple? Explain why or why not ?

Answer -

- No, you cannot modify the elements of a tuple in Python — because tuples are immutable.

In [ ]:
my_tuple = (10, 20, 30)
my_tuple[1] = 99

TypeError: 'tuple' object does not support item assignment

Q 16 - What is a nested dictionary, and give an example of its use case ?

Answer -

- A nested dictionary is a dictionary inside another dictionary — it allows you to store complex, hierarchical data in a structured way.

In [ ]:
student_info = {"101": {"name": "Shivam", "age": 21,"courses": ["Pharmacy", "Python"] },
    "102": {"name": "Aarav","age": 22,"courses": ["Pharmacy", "Excel"] }}

In [ ]:
print(student_info["101"]["name"])
print(student_info["102"]["courses"])

Shivam
['Pharmacy', 'Excel']

Q17 Describe the time complexity of accessing elements in a dictionary ?

Answer -

Q  18 In what situations are lists preferred over dictionaries ?

Answer -

- Useful when processing items in the exact order they were added.
- You want to access elements using numeric positions.
- Unlike dictionaries, list elements can repeat.
- Ideal when duplicates are needed (e.g., counting votes, shopping items).

In [ ]:
# example of list

my_list = [  "pw skills " , " shivam " , " sodhani"]
my_list.append("rahul")
print(my_list)

['pw skills ', ' shivam ', ' sodhani', 'rahul']

In [ ]:
# examples of dict

my_dict = {"name": "Shivam", "age": 21, "course": "Pharm.D"}
print(student["course"])

Pharm.D

In [ ]:
type(my_dict)

dict

In [ ]:
my_dict.append("rahul")

AttributeError: 'dict' object has no attribute 'append'

Q19 - Why are dictionaries considered unordered, and how does that affect data retrieval ?

Answer -

- They stored key-value pairs using a hashing mechanism, not in the order you inserted them.

- The internal structure was optimized for fast access, not maintaining insertion order.

- So when you iterated over a dictionary, the order of elements could appear random or inconsistent.

In [ ]:
# examples of dict

my_dict = {"name": "Shivam", "age": 21, "course": "Pharm.D"}
print(my_dict["name"])

Shivam

In [ ]:
for key in my_dict:
   print(key)

name
age
course

Q 20  Explain the difference between a list and a dictionary in terms of data retrieval?

Answer -

A list retrieves data using a numeric index (e.g., my_list[0]), meaning you access elements based on their position. A dictionary retrieves data using a unique key (e.g., my_dict["name"]), allowing for faster and more meaningful access. Lists are best when order matters, while dictionaries are ideal when you want to label and quickly retrieve data using names

In [ ]:
# List example
fruits = ["apple", "banana", "cherry"]
print(fruits[1])

banana

In [ ]:
# Dictionary example
person = {"name": "Shivam", "age": 21}
print(person["name"])

Shivam

**PRACTICAL QUESTIONS**

Q1 Write a code to create a string with your name and print it ?

In [ ]:
name = "shivam sodhani"
print(name)

shivam sodhani

In [ ]:
type(name)

str

In [ ]:
my_name = " shivam sodhani"
print("my name is ", my_name)

my name is   shivam sodhani

Q2  Write a code to find the length of the string "Hello World" ?

Answer -

In [ ]:
print("Hello World")

Hello World

In [ ]:
len("Hello World")

11

Q3 Write a code to slice the first 3 characters from the string "Python Programming"?

Answer -

In [ ]:
my_string = "Python Programming"

In [ ]:
type(my_string)

str

In [ ]:
first_three = my_string[:3]

In [ ]:
print("first 3 characters " , first_three)

first 3 characters  Pyt

Q 4 Write a code to convert the string "hello" to uppercase ?

Answer -

In [ ]:
my_string = "hello "
my_string.upper()

'HELLO '

Q 5 Write a code to replace the word "apple" with "orange" in the string "I like apple" ?

In [ ]:
my_string = "I like apple"
my_string.replace("apple" , "orange")

'I like orange'

Q 6 Write a code to create a list with numbers 1 to 5 and print it ?

Answer -

In [ ]:
numbers  = [1 ,2 , 3, 4,  5 ]
print("list of numbers ", numbers)

list of numbers  [1, 2, 3, 4, 5]

Q 7 Write a code to append the number 10 to the list [1, 2, 3, 4 ]

Answer -

In [ ]:
my_list = [ 1 , 2 , 3 , 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

Q 8  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

Answer -

In [ ]:
my_list = [1, 2, 3, 4 ,5 ]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

Q 9 Write a code to access the second element in the list ['a', 'b', 'c', 'd'] ?

Answer -

In [ ]:
my_list= ["a","b","c","d"]
type(my_list)

list

In [ ]:
second_element = my_list[1]

In [ ]:
print("second element :", second_element)

second element : b

Q 10 Write a code to reverse the list [10, 20, 30, 40, 50].

Answer

In [ ]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

 Q 11 Write a code to create a tuple with the elements 100, 200, 300 and print it.

 Answer -

In [ ]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

Q 12  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow )

Answer =

In [ ]:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = my_tuple[-2]
print(second_to_last_element)

blue

 Q 13 Write a code to find the minimum number in the tuple (10, 20, 5, 15).

 Answer =

In [ ]:
numbers = ( 10 , 20 , 5 , 15)
min_number = min(numbers)
print("minimum numbers :", min_number)

minimum numbers : 5

Q14  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

Answer =

In [ ]:
animals = ('dog', 'cat', 'rabbit')
cat_index = animals.index('cat')
print("Index of 'cat':", cat_index)

Index of 'cat': 1

Q15  Write a code to create a tuple containing three different fruits and check if "kiwi" is in ?

Answer =

In [ ]:
fruits = ('apple', 'banana', 'orange')
is_kiwi_in_tuple = 'kiwi' in fruits
print("Is 'kiwi' in the tuple?", is_kiwi_in_tuple)

Is 'kiwi' in the tuple? False

In [ ]:
fruits = ('apple', 'kiwi', 'orange')
is_kiwi_in_tuple = 'kiwi' in fruits
print("Is 'kiwi' in the tuple?", is_kiwi_in_tuple)

Is 'kiwi' in the tuple? True

Q 16  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

Answer -

In [ ]:
my_set = ('a', 'b', 'c')
print(my_set)

('a', 'b', 'c')

Q 17  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

Answer =

In [ ]:
my_set= {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

Q18 Write a code to remove the element 4 from the set {1, 2, 3, 4}.

Answer

In [ ]:
my_set = {1 , 2, 3 ,4 }
my_set.remove(4)
print(my_set)

{1, 2, 3}

Q 19  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

Answer -

In [ ]:
my_set1 = {1, 2, 3}
my_set2 = {3, 4, 5}
union_set = my_set.union(my_sets2)
print(union_set)

{1, 2, 3, 4, 5}

Q 20   Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

Answer -

In [ ]:
my_set1 = {1 ,2 ,3 }
my_set2 = {2 , 3, 4}
intersection_set = my_set1.intersection(my_set2)
print(intersection_set)

{2, 3}

Q21  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

Answer =

In [ ]:
my_dict = {"name": "Shivam", "age": 21, "city": "New Delhi"}
print(my_dict)

{'name': 'Shivam', 'age': 21, 'city': 'New Delhi'}

In [ ]:
type(my_dict)

dict

Q 22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

Answer =

In [ ]:
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

Q 23 . Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

Answer =

In [ ]:
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict["name"]
print(name_value)

Alice

Q 24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

Answer =

In [ ]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

Q 25   Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

Answer =

In [ ]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
find = "city" in my_dict
print(find)

True

Q 26  Write a code to create a list, a tuple, and a dictionary, and print them all

Answer

In [ ]:
# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = ('a', 'b', 'c')

# Creating a dictionary
my_dict = {"name": "Shivam", "age": 21, "course": "Pharm.D"}

# Printing them all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('a', 'b', 'c')
Dictionary: {'name': 'Shivam', 'age': 21, 'course': 'Pharm.D'}

Q 27  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

Answer -

In [ ]:
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted list of random numbers:", random_numbers)

Sorted list of random numbers: [17, 36, 58, 90, 95]

Q 28 Write a code to create a list with strings and print the element at the third index.

Answer =

In [ ]:

my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print("Element at index 3:", my_list[3])

Element at index 3: date

Q 29 Write a code to combine two dictionaries into one and print the result.

Answer -

In [ ]:
my_dict1 = {"a": 1, "b": 2}
my_dict2 = {"c": 3, "d": 4}
combined_dict = {**my_dict1, **my_dict2}
print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

Q 30  Write a code to convert a list of strings into a set.

Answer

In [ ]:
my_string = {  "pw skills " , " shivam " , " sodhani"}
my_set = set(my_string)
print(my_set)

{' shivam ', 'pw skills ', ' sodhani'}

In [ ]:
type(my_string)

set